In [1]:
import pandas as pd

In [3]:
cart_items = pd.read_csv('data2/carts_items.csv')
catalog_items = pd.read_csv('data2/catalog_items.csv')

In [4]:
cart_items.head()

,CART_ID,ITEM_ID,QUANTITY
0,4067b38b-57bd-4368-b173-4d0d2674e1a5,2a48f166-8f6d-491c-a2ee-b40be07c12bf,2
1,4067b38b-57bd-4368-b173-4d0d2674e1a5,8b551ad2-d289-45da-af9e-7fe6f370bfbd,2
2,4067b38b-57bd-4368-b173-4d0d2674e1a5,8fd1b4da-18c8-4967-8eab-145a2bd91859,1
3,4067b38b-57bd-4368-b173-4d0d2674e1a5,a4f9718f-17e5-4fdf-a323-54ec75b329ef,2
4,4067b38b-57bd-4368-b173-4d0d2674e1a5,3cb27960-3c7f-474d-af00-56dadcb76811,4

In [5]:
catalog_items.head()

,ITEM_ID,ITEM_NAME,MERCHANT_ID,ITEM_PRICE
0,a81d6a74-2111-4792-a061-448c550e1b03,DESSERT4,f69ce7df-8e09-4a39-b4e3-9e7ea9237ce7,34.70
1,9d9ad9ec-bde1-4521-9e0a-35d981a83bf5,DESSERT5,110d7a5d-9e20-4e8c-bdad-db5d89a4ae6f,46.69
2,4db82741-4be1-497d-86c7-2f0de4533c0c,DESSERT4,b8c00ff6-2363-4a91-894e-ba8d68f77fa4,20.69
3,385084f0-52c1-4734-9eb7-bd12750eac01,DESSERT4,72f82230-1b1c-4111-ae2a-f897d0b591a6,43.94
4,a849b337-c3a9-4ab6-899d-a5cf764111c7,BEVERAGE5,ef63a349-1b38-470b-832b-b87c7e9d1767,21.09

In [8]:
# Print the number of rows in each table and distinct keys
print('cart_items: {} rows, {} distinct keys'.format(len(cart_items), len(cart_items['ITEM_ID'].unique())))
print('catalog_items: {} rows, {} distinct keys'.format(len(catalog_items), len(catalog_items['ITEM_ID'].unique())))

cart_items: 39941 rows, 27392 distinct keys
catalog_items: 50000 rows, 50000 distinct keys

In [9]:
# Check if there are any items in the cart that are not in the catalog
cart_items[~cart_items['ITEM_ID'].isin(catalog_items['ITEM_ID'])]

                                    CART_ID ITEM_ID  QUANTITY
20753  e7446d56-3e1b-4200-b7c3-e531289549f0     NaN         1
25358  40dbce35-8b17-4371-b228-45407ad442b4     NaN         3

In [23]:
cart_items_id = cart_items['ITEM_ID'].unique()
catalog_items_id = catalog_items['ITEM_ID'].unique()

# Check if there are any items in the catalog that are not in the cart
not_matched = [id for id in cart_items_id if id not in catalog_items_id]
print(not_matched, len(not_matched))

[nan] 1

In [19]:
len(cart_items_id)

27392

In [16]:
# check for duplicates cart_id and item_id 
cart_items[cart_items.duplicated(['CART_ID', 'ITEM_ID'])]

Empty DataFrame
Columns: [CART_ID, ITEM_ID, QUANTITY]
Index: []

In [11]:
catalog_items[catalog_items['ITEM_ID'] == '40dbce35-8b17-4371-b228-45407ad442b4']

Empty DataFrame
Columns: [ITEM_ID, ITEM_NAME, MERCHANT_ID, ITEM_PRICE]
Index: []

In [ ]:
# Check for duplicate cart items